

body {
  padding-top: 80px; /* Prevent navbar overlap */
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


.img-home {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
}

/* Skill Section */
.skill-img {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-card:hover .skill-img {
  transform: scale(1.05);
}

/* Portfolio Images */
.project-img {
  height: 260px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.portfolio-card:hover .project-img {
  transform: scale(1.05);
}


h1 {
  font-weight: bold;
}


.alink:hover {
  color: #0d6efd;
  text-decoration: underline;
}
.navbar-nav .nav-link:hover {
  color: #ffc107; /* golden/yellow tone */
}